////////////////////////////////////////////////////////////////////////////////////////////
// codelab section
.codelab-list-section {
  background: #ffffff;

  .codelab-title {
    font-size: 40px;
    letter-spacing: -0.5px;
    line-height: 52px;
    font-family: Work Sans,Noto Sans JP,Helvetica,Tahoma,Geneva,Arial,sans-serif;
    font-weight: 300;
  }
  .codelab-subtitle {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    margin: 16px 0px 8px 0px;
    letter-spacing: -0.5px;
    font-family: Work Sans,Noto Sans JP,Helvetica,Tahoma,Geneva,Arial,sans-serif;
    font-weight: 300;
  }

  .codelab-filters {
    padding: 24px 0;
    // padding: 24px 0 36px 0;
  }


  .select {
    width: 100%;
    select {
      width: 100%;
    }
  }

  .card {   
    transition: all 0.3s;
    border-bottom: 4px solid $primary;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
  }

  .card-content {
    padding: 1.5rem 1.5rem 1.0rem 1.5rem;

    .media {
      margin-bottom: 12px;
    }
  }
  .card-equal-height {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .card-equal-height .card-footer {
    margin-top: auto;
  }

  .codelab-card-duration {
    color: #aaa;
    font-size: 11px;
    mix-blend-mode: normal;
    display: flex;
    justify-content: space-between;
    padding-top: 6px;
  }

  .codelab-card-footer {
    -ms-flex-align: center;
    -ms-flex-pack: justify;
    -webkit-align-items: center;
    align-items: center;
    border-top: 0;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 18px;

    .tag {
      margin-right: 8px;
    }
  }
  
}

////////////////////////////////////////////////////////////////////////////////////////////
// codelab navbar
.codelab-navbar {
  padding: 0;

  @media screen and (max-width: 720px) {
    .codelab-navbar {
      padding: 1rem 2rem;
    }
    .title {
      width: 300px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

  .codelab-navbar-item {
    padding-left: 12px;
    padding-right: 24px;
  }
}
////////////////////////////////////////////////////////////////////////////////////////////
// codelab body
.codelab-section {
  margin: 0 24px;
  max-width: 1400px;
  padding: 24px;
  position: relative;

  .codelab-stepnav {
    position: relative;
    float: left;
    margin-right: 40px;
    width: 100%;
    max-width: 240px;
    min-width: 240px;
    height: 100%;
  }

  .codelab-stepnav-inner {
    position: fixed;
    overflow-x: hidden;
    overflow-y: auto;
    // padding: 16px 12px;
    padding: 4px 3px;
    width: 240px;
  }

  @media screen and (max-width: 720px) {
    .codelab-stepnav {
      display: none;
    }
  }

  // article
  .codelab-article {
    width: calc(100% - 240px - 40px);
  }
  @media screen and (max-width: 720px) {
    .codelab-article {
      width: 100%;
    }
  }

  .codelab-stepnav-card {
    border-radius: 5px;
    border-bottom: 3px solid $primary;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0 1px 2px 0 rgba(60,64,67,0.3), 0 2px 6px 2px rgba(60,64,67,0.15);
    margin: 10px 0;

    .card-content {
      padding: 12px;
    }
  }

  .codelab-article-card {
    box-shadow: 0px 1px 2px 0px rgba(60,64,67,0.3), 0px 2px 6px 2px rgba(60,64,67,0.15);
    margin: 0 auto;
  }

  .codelab-back-button {
    top: auto;
    right: auto;
    bottom: 20px;
    // left: calc(100% - 240px - 20px);
    left: calc(0% + 240px + 20px + 24px);
    position: fixed;
  }

  .codelab-next-button {
    top: auto;
    right: 20px;
    bottom: 20px;
    left: auto;
    position: fixed;
  }
  
}

@media screen and (max-width: 720px) {
  .codelab-section {
      margin: 0;
  }
}



