////////////////////////////////////////////////////////////////////////////////////////////////
// breadcrumb
.content ul {
    margin-left: 0em;
}

.content li+li {
    margin-top: 0em;
}

.last-link {
    padding: 0 .75em;
}
////////////////////////////////////////////////////////////////////////////////////////////////
// toc
#TableOfContents {
    ul {
        font-size: .875rem;
        margin-bottom: .5em;

        li ul {
            margin-left: .7em;
        }
    }

    a {
        color: #4a4a4a;
    }
    a:hover {
        color: $primary;
    }
}
////////////////////////////////////////////////////////////////////////////////////////////////
//