////////////////////////////////////////////////////////////////////////////////////////////
// title section
.top-title-section {
  background-image: url("https://source.unsplash.com/random/1920x960?nature");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  //
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  
  .top-title {
    color: #fff;
    font-size: 50px;
    text-align: center;
    font-family: Work Sans,Noto Sans JP,Helvetica,Tahoma,Geneva,Arial,sans-serif;
    font-weight: 300;
    padding-bottom: 25px;
  }
  .top-subtitle {
    color: #fff;
    font-size: 30px;
    text-align: center;
    font-family: Work Sans,Noto Sans JP,Helvetica,Tahoma,Geneva,Arial,sans-serif;
    font-weight: 300;
    // padding-bottom: 25px;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.6);
  }
}

////////////////////////////////////////////////////////////////////////////////////////////
// event section
.top-event-section {
  height: 400px;
  background: #f7f7f7;
  color: #4a5960;

  html, body {
    position: relative;
    height: 100%;
  }
  body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
  }
  .swiper-container {
    width: 100%;
    height: 100%;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    // background: #fff;
    background: #f7f7f7;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  .slide1 {
    background-image: url("https://source.unsplash.com/random/1920x960?portrait");
    background-repeat: no-repeat;
    // background-size: cover;
    // background-size: contain;
    background-position: left top;
    background-size: 100% auto;
    @media screen and (max-width: 1116px) {
      background-image: url("https://source.unsplash.com/random/1920x960?portrait");
      background-size: auto;
    }
  }
  .slide2 {
    background-image: url("https://source.unsplash.com/random/1920x960?nature");
    background-repeat: no-repeat;
    // background-size: cover;
    // background-size: contain;
    background-position: left top;
    background-size: 100% auto;
    @media screen and (max-width: 1116px) {
      background-image: url("https://source.unsplash.com/random/1920x960?nature");
      background-size: auto;
    }
  }
  .slide3 {
    background-image: url("https://source.unsplash.com/random/1920x960");
    background-repeat: no-repeat;
    // background-size: cover;
    // background-size: contain;
    background-position: left top;
    background-size: 100% auto;
    @media screen and (max-width: 1116px) {
      background-image: url("https://source.unsplash.com/random/1920x960");
      background-size: auto;
    }
  }
}



